{
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "mocha": true
  },
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    // spacing
    "template-curly-spacing": [ 2, "always" ],
    "computed-property-spacing": [ 2, "always" ],
    "no-multiple-empty-lines": [ 2, { "max": 1, "maxEOF": 0, "maxBOF": 0 } ],

    // code arrangement matter
    "no-use-before-define": [ 2, { "functions": false } ],
    "no-underscore-dangle": 0,
    "no-console": 2,
    "no-unused-vars": 2,
    "no-mixed-operators": 0,
    "no-plusplus": 0,
    // make it meaningful
    "prefer-const": 1,

    // keep it simple
    "complexity": [ 1, 5 ],

    // react
    "react/prefer-es6-class": 0,
    "react/jsx-filename-extension": 0,
    "react/jsx-curly-spacing": [ 2, "always" ],
    "react/jsx-indent": [ 2, 4 ],
    "react/forbid-prop-types": 0
  }
}
